  <!--header section start -->
  <div class="header_section">
    <div class="container">
       <nav class="navbar navbar-dark bg-dark">
          <a class="logo" href="index.html"><h4 class="designText">SHOP IT</h4></a>
          <div class="search_section">
             <ul>
                <li><a href="#">Log In</a></li>
                <li><a href="#"><img src="./assets/images/shopping-bag.png"></a></li>
                <li><a href="#"><img src="./assets/images/search-icon.png"></a></li>
             </ul>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample01">
             <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                   <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="category.html">Category</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="products.html">Products</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="clients.html">Client</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
             </ul>
          </div>
       </nav>
    </div>
    <!--banner section start -->
    <div class="banner_section layout_padding">
      <div id="my_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="taital_main">
                           <br>
                           <h4 class="banner_taital">Bienvenue dans notre Marketplace</h4>
                        </div>   
                      </div>
                     <div class="col-md-6">
                        <div><img src="./assets/images/img-1.png" class="image_1"></div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
   </div>
    <!--banner section end -->
 </div>
 <!--header section end -->

